<div class="i002">
    <div class="title">
        <p><a ng-click="cancel()">Admin</a> Change Password</p>
    </div>
    <form class="ibox">
        <div>
            <label>User Name:</label>
            <input type=text size=20 ng-model="user.name"/>
            <p style="float: right;padding-left: 10px;color: #888">Super Admin</p>
        </div>
        <div>
            <label>User Phone:</label>
            <input type=text size=20 ng-model="user.mobile"/>
        </div>
        <div>
            <label>Password:</label>
            <input type=password size=20 ng-model="user.oldPwd"/>
        </div>
        <div>
            <label>New Password:</label>
            <input type=password size=20 ng-model="user.newPwd"/>
        </div>
        <div>
            <label>Confirm Password:</label>
            <input type=password size=20 ng-model="user.notPwd"/>
        </div>
        <div class="isubmit">
            <button size=20 ng-click="enter(user)">Reset</button>
            <button size=20 ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>
