.Footer a {
	text-decoration: none;
	color: #000000;
	font-family: arial;
}

.main {
	width: 366px;
	height: 277px;
	background-color: #e4e4e4;
}

.Title {
	width: 100%;
	height: 30px;
	
}

.InputView {
	position: fixed;
	margin: 30px 0 0 35px;
	width: 100%;
	height: 300px;
}

.inputName {
	border: hidden;
	border-bottom: solid 2px #D9D9D9;
	height: 44px;
	width: 251px;
	font-size: 14px;
}

.loginButton {
	background-color: #95c040;
	width: 243px;
	border: hidden;
	color: #FFFFFF;
	font-size: 18px;
	margin: 10px 0 0 25px;
	height: 41px;
	border-radius: 4px;
}

.forgetPassword {
	font-family: arial;
	font-size: 14px;
	color: #000000;
	margin-left: 208px;
}

.Footer {
	margin: 300px 0 0 0px;
	text-align: center;
}

.username {
	background: url(../../img/icon_name.png) no-repeat;
	background-position: center;
	background-size: 50% 50%;
	background-color: #FFFFFF;
	border: hidden;
	border-bottom: solid 2px #D9D9D9;
	height: 44px;
	width: 44px;
	float: left;
}

.very_centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.userpassword {
	background: url(../../img/icon_lock.png) no-repeat;
	background-position: center;
	background-size: 40% 40%;
	background-color: #FFFFFF;
	height: 44px;
	width: 44px;
	float: left;
	border: hidden;
	border-bottom: solid 2px #D9D9D9;
}
